.optionsSlider {
    display: block;
    max-width: 30%;
    width: 200px;
    padding-left: 14px;
    padding-right: 10px;
    height: 22px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.iSliderContainer {
    display: block;
    position: relative;
    width: 100%;
    margin: 7px 0 0 0;
    height: 8px;
    border-radius: 5px;
    border: 1px solid blue;
    cursor: pointer;
    box-shadow: 0px 0px 3px #aaa;
    border: 1px solid #aaa;
    background-image:
    -webkit-linear-gradient(top, #999999, #f0f0f0 55%, #ffffff 95%, #999999);
    background-image:
    linear-gradient(to bottom,
    #999999,
    #f0f0f0 55%,
    #ffffff 95%,
    #999999
    );
}

.iSliderProgress {
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 0;
    height: 8px;
    background-image:
    -webkit-linear-gradient(
            top,
            #0b3a86,
            #4c8ce7 50%,
            #6bacf5 95%,
            #0a3a85
    );
    background-image:
    linear-gradient(to bottom,
    #0b3a86,
    #4c8ce7 50%,
    #6bacf5 95%,
    #0a3a85
    );
}

.iSlider {
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 8px;
    top: -4.5px;
    margin-left: -9px;
    cursor: pointer;
    border: 1px solid #777;
    background-image:
    -webkit-linear-gradient(
            top,
            #aaa,
            #fff 55%,
            #ccc
    );
    background-image:
    linear-gradient(to bottom,
    #aaa,
    #fff 55%,
    #ccc
    );
}